
@{
    ViewData["Title"] = "CadastrarPromocoes";
}

<div class="container">
    <h2>Cadastrar Promocoes</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="">
                <div class="row" style="margin:15px">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Empresa..." id="txtEmpresa" />
                    </div>

                </div>
                <div class="row" style="margin:15px">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Chamada..." id="txtChamada" />
                    </div>

                </div>
                <div class="row" style="margin:15px">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Regras..." id="txtRegras" />
                    </div>

                </div>
                <div class="row" style="margin:15px">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Endereço[URL]..." id="txtURL" />
                    </div>

                </div>
                <div class="panel-footer" style="margin:15px">
                    <button type="button" class="btn btn-primary" id="btnCadastrar">Cadastrar</button>
                </div>
                
            </div>

        </div>
        <hr />
        <div class="col-md-12">
            <h2 id="mensagem"></h2>

        </div>
    </div>

</div>



