
@{
    ViewData["Title"] = "Promocoes";
}


<div class="container">
    <h2>Promocoes</h2>
    <div class="row" style="margin-left:auto; margin-right:auto">
        <div class="col-md-12" id="divPromo">
            <!--
     <div class="row">
         <div class="col-md-12 alert alert-primary" role="alert">
             <h3>Promoções 123</h3>
             <p>Empresa</p>
             <p>Descrição da promoção e das vantanges </p>
             <a href="#!"></a>
         </div>
     </div>
    -->

        </div>

    </div>

</div>


